<!DOCTYPE html>
<html>
    <head>
        <title>About me</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="row">
            <div class=" col-sm-2"></div>
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>ID</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Salary</th>
                        <th>Department</th>
                    </tr>
                    {% for i in info %}
                    <tr>
                        <td>{{i.Emp_Firstname}} {{i.Emp_Lastname}}</td>
                        <td>{{i.Emp_Age}}</td>
                        <td>{{i.Emp_Id}}</td>
                        <td>{{i.Emp_Gender}}</td>
                        <td>{{i.Emp_Email}}</td>
                        <td>{{i.Emp_Password}}</td>
                        <td>{{i.Emp_Salary}}</td>
                        <td>{{i.Emp_Department}}</td>
                        <td><a href="{% url 'edit' i.id %}" ><button class="btn btn-danger">Edit</button></a></td>
                        <td><a href="{% url 'delete' i.id %}" ><button class="btn btn-warning">Delete</button></a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class=" col-sm-2"></div>
        </div>
        
    </body>
</html>