<!DOCTYPE html>
<html>
    <head>
        <title>Show Details</title>
    </head>
    <body>
        <table border="5"><h1>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Age</td>
                <td>Gender</td>
                <td>Mobile</td>
            </tr> 
            <tr>
                <td>{{info.FName}} {{info.LName}}</td>
                <td>{{info.Email}}</td>
                <td>{{info.Age}}</td>
                <td>{{info.Gender}}</td>
                <td>{{info.Mobile}}</td>
            </tr>
        </h1></table>
    </body>
</html>